extends layout

block content

  h1 Please sign in:
  form(action="" method="POST")
    div.form-group
      label(for="username") Username: 
      input#username(type="email" name="username" placeholder="name@example.com" required="true")
      br
      label(for="password") Password: 
      input#password(type="password" name="password" required="true")
    button(type="submit") Sign In
  
  if(authError)
    p= authError

  h3 Or, if you do not yet have an account, create a new account instead: 
  a(href="/sign-up")
    button Create Account
  
  if (errors)
    br
    h5 Warning: 
    ul
      for error in errors
        li= error.msg